@model SGA.Models.EstudianteParaFactura

@{
    ViewBag.Title = "Deshablitar";
}

<h2>Deshabilitar</h2>

<h3>¿Está seguro de deshabilitarlo?</h3>
<div>
    <h4>EstudianteParaFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Apellidos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deshabilitar" class="btn btn-default" /> |
            @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
        </div>
    }
</div>
