@model SGA.Models.EstudianteParaFactura

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>EstudianteParaFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Apellidos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
</p>
